.books {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .book {
    width: calc(100% / 3 - 20px);
  }
}
@media screen and (max-width: 800px) {
  .book {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 500px) {
  .book {
    width: 100%;
  }
}

.pageScroll {
  display: flex;
  justify-content: center;
  & * {
    padding: 10px;
    margin: 10px;
    list-style: none;
    border: none;
    background: var(--color-back0);
    color: var(--color-text);
  }

  & button {
    cursor: pointer;
    &:disabled {
      cursor: default;
      color: gray;
    }
  }
}
.linkButton {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  list-style: none;
  border: none;
  background: var(--color-back0);
  color: var(--color-text);
}
